/* Google Fonts */
@import url(
    'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
);

html, body {
    height: 100%; margin: 0px;
}

body {
    display: grid; grid-template-areas: "banner-content form-content";
    grid-template-columns: 60% 40%;
}

button {
    cursor: pointer;
}


/* Área para criação da conta - cabeçalho */
#create-account-header {
    display: flex; justify-content: center; margin-bottom: 25px;
}

#online-shop-logo {
    width: 100px; height: 100px;
}

#logo-title {
    font-size: 20px; margin-top: 25px; margin-bottom: 0px; 
    font-weight: 700; font-style: normal; 
    font-family: "Poppins", sans-serif;
}

/* Área para criação da conta - Formulário */
#create-account-content {
    display: flex; flex-direction: column; gap: 30px;
    height: 100%;
}

#form-title {
    display: flex; flex-direction: column;
    padding-left: 170px; gap: 10px; margin-top: 40px; 
    margin-bottom: 40px
}

#title {
    margin-bottom: 0px; margin: 0px;
    
    font-family: "Poppins", sans-serif; font-weight: 700; font-style: normal
}

#subtitle {
    color: #584f4f; margin: 0px;

    font-family: "Poppins", sans-serif; font-weight: 400; font-style: italic; 
}

#create-account-form {
    margin-top: 20px; display: flex; 
    flex-direction: column; align-items: center; 
    gap: 30px
}

#main-account-datas {
    width: 50%; display: flex; flex-direction: column; gap: 10px
}

.form-label {
    display: flex; flex-direction: column; gap: 5px;
    align-items: flex-start; font-family: "Inter", sans-serif;
    font-weight: 400
}

.field-input {
    border: 1px solid black; width: 250px; height: 35px;
    border-radius: 7px; font-size: 17px; padding-left: 10px;
}

/* Aplicação da animação para cada um dos campos */
#input-name {
    opacity: 1; transition: opacity 0.5s
} #input-email {
    opacity: 1; transition: opacity 1s
} #input-pass {
    opacity: 1; transition: opacity 1.5s
} #input-confirm-pass {
    opacity: 1; transition: opacity 2s
}

@starting-style {
    #input-name {
        opacity: 0;
    } #input-email {
        opacity: 0;
    } #input-pass {
        opacity: 0;
    } #input-confirm-pass {
        opacity: 0;
    }
}

.field-input:hover {
    background-color: rgb(238, 232, 232);
}

/* Formulário - Campo de senha */
#password-field {
    display: flex; gap: 10px;
}

#alter-pass-visibility-btn {
    background: transparent; padding: 0px; border: none;

    transition: scale 0.5s;
}

#alter-pass-visibility-btn:hover {
    scale: 110%;
}

#usage-terms-field {
    display: flex; gap: 5px; align-items: center;
}

#usage-terms-msg {
    font-family: "Inter", sans-serif; font-weight: 400
}

/* Formulário - Botão para enviar informações */
#submit-btn {
    border: none; background-color: #0fbcd6;
    width: 100px; height: 30px; border-radius: 20px;
    font-family: "Inter", sans-serif; font-weight: 600;

    transition: scale 0.5s;
}

#submit-btn:hover {
    scale: 110%;
}


/* Área para criação da conta - Login alternativo */
#login-divisor {
    display: flex; justify-content: center; align-items: center; gap: 40px;
}

.login-divisor-bar {
    border: 1px solid black; width: 145px; height: 0px;
    margin: 0px
}

#login-divisor-msg {
    font-family: "Inter", sans-serif; font-weight: 400
}

#other-login-options {
    display: flex; justify-content: center;
}

/* Botão de realização de login pela conta do google */
#google-login-btn{
    display: flex; gap: 10px; border: 2px solid black; 
    padding-left: 0px; padding-right: 0px; padding-top: 5px; padding-bottom: 5px;
    
    width: 140px; border-radius: 20px; background-color: white;
    align-items: center; justify-content: center;
    font-family: "Inter", sans-serif; font-weight: 600;

    transition: scale 0.5s;
}

#google-login-btn:hover {
    scale: 110%;
}

#google-logo {
    width: 25px; height: 25px;
}


/* Mensagem de outra opção */
#alredy-account-msg {
    text-align: center; font-family: "Inter", sans-serif
}