/* Default */
.login-form {
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}

@media (width <= 768px) {
    .login-form {
        height: clamp(250px, calc(214.286px + 11.161vw), 300px);
    }
}

@media (width > 768px) {
    .login-form {
        height: 330px; box-shadow: 0px 5px 15px #cfcfcf;;
        padding: 20px; border-radius: 10px;

        transition: scale 1s, opacity 1s;
    }
    @starting-style {
        .login-form {
            scale: 90%; opacity: 0;
        }
    }

}

/* Variants */