/* Default */
.login-header {
    display: flex; flex-direction: column; align-items: center;
}

.shop-indety {
    display: flex; gap: 20px; align-items: center;

    transition: opacity 1s;
}
@starting-style {
    .shop-indety {
        opacity: 0;
    }
}

.logo {
    height: clamp(100px, calc(80px + 6.25vw), 200px)
}