/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Title and subtitle container */
.title-subtitle-box {
    display: flex; flex-direction: column; gap: 10px;
}
/* Variants */
.box-centered {
    align-items: center;
}
.box-start {
    align-items: flex-start;
}


/* Title */
.header-title {
  font-family: "Poppins", sans-serif; font-weight: 700; font-style: normal;
  font-size: clamp(1.000rem, calc(0.929rem + 0.357vw), 1.250rem);
  margin: 0px;
}
/* Subtitle */
.header-subtitle {
    font-family: calibri; font-style: italic; 
    font-size: clamp(0.750rem, calc(0.607rem + 0.714vw), 1.250rem);
    margin: 0px;
}