.parent {
    display: flex; width: 100%; height: 100%;
}

.showcase-area{
    flex-grow: 6; flex-basis: 0px; height: 100%; width: 100%;
}

/* Configuration for visual banner */
/* Displayed only for width >= 1024px */
.banner{display: block; object-fit: cover; width: 100%; height: 100%;}


.main-content{
    flex-grow: 4;
}