/* Default */
.divisor-bar {
   background-color: rgb(89 211 230);
   width: clamp(12.500rem, calc(1.786rem + 53.571vw), 50.000rem); 
   height: 2px;
   display: none;

   transition: width 2s;
}


/* Variants */
.primary-divisor-bar {
    border-radius: 50%;
}

@starting-style {
    .primary-divisor-bar {
        width: 200px;
    }
}

/* Default - Desktop viewport */
@media (min-width: 769px) {
    .divisor-bar {
        display: block;
    }
}